<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<div th:fragment="content">

    <div style="width:350px; margin:100px auto; text-align:center;">

        <h2>Cloud Bank</h2>

        <!-- 로그인 실패 -->
        <p th:if="${param.error}" style="color:red;">
            로그인에 실패했습니다.
        </p>

        <p th:if="${errorMessage}"
           th:text="${errorMessage}"
           style="color:red; font-size:13px; margin-bottom:15px; text-align:left;"></p>

        <form th:action="@{/login}" th:object="${loginRequestDto}" method="post">

            <input type="text"
                   th:field="*{username}"
                   placeholder="ID 입력"
                   style="width:100%; height:40px; margin-bottom:15px;">

            <input type="password"
                   th:field="*{password}"
                   placeholder="PW 입력"
                   style="width:100%; height:40px; margin-bottom:20px;">

            <button type="submit"
                    style="width:100%; height:45px;">
                로그인
            </button>

        </form>

        <br>

        <a th:href="@{/member}">
            회원가입
        </a>

    </div>

</div>

</body>
</html>