<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.AccountMapper">

    <!-- 계좌 조회 -->
    <select id="findAccount" resultType="AccountDTO" parameterType="int">
        select * from account
        where user_id = #{userId}
    </select>

    <!-- 계좌 1개 조회 -->
    <select id="findAccountById" parameterType="int" resultType="AccountDTO">
        select *
        from account
        where account_id=#{accountId}
    </select>

    <!-- 출금 계좌 잔액 차감 -->
    <update id="withdraw">
        update account
        set balance = balance - #{amount}
        where account_id= #{accountId}
    </update>

    <!-- 입금 계좌 잔액 증가 -->
    <update id="deposit">
        update account
        set balance = balance + #{amount}
        where account_id= #{accountId}
    </update>

    <!-- 계좌 생성 -->
    <insert id="insertAccount" parameterType="AccountDTO">
        insert into account(user_id, account_number)
        values( #{userId}, #{accountNumber})
    </insert>

</mapper>
