<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.TradingHistoryMapper">

    <!-- 특정 계좌의 거래 이력 조회 -->
    <select id="tradingHistory" resultType="TradingHistoryDTO" parameterType="int">
        select * from trading_history
        where sending_account = #{accountId} OR receiving_account = #{accountId}
        order by trade_date desc
    </select>

    <!-- 기존 송금 이력 개수 조회 -->
    <select id="countTransferHistory" resultType="int">

        select count(*)
        from tarding_history
        where sending_account = #{sendingAccount} and receiving_account = #{receivingAccount}
    </select>

    <!-- 최근 10분 내 송금 횟수 조회 -->
    <select id="countRecentTransfer" parameterType="int" resultType="int">
        select count(*)
        from traidng_history
        where sending_account = #{sendingAccount} and trade_date >= NOW()-INTERVAL 10 MINUTE
    </select>

</mapper>
