<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.TradingHistoryMapper">

    <!-- 특정 계좌의 거래 이력 조회 -->
    <select id="tradingHistory" resultType="TradingHistoryDTO" parameterType="int">
        select * from trading_history
        where sending_account = #{account_id} OR receiving_account = #{account_id}
        order by trade_date desc
    </select>

</mapper>
