<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.UserMapper">

    <!-- 회원 가입 -->
    <insert id="signup" parameterType="UserDTO">
        insert into user( username, password, name, birth_date)
        values ( #{username}, #{password}, #{name}, #{birthDate} )
    </insert>

    <!-- 로그인 -->
    <select id="login" resultType="UserDTO" parameterType="String" >
        select user_id, password, username, name, birth_date from user
        where username = #{username}
    </select>

    <!-- 식별번호로 유저 조회 -->
    <select id="findUser" parameterType="int" resultType="UserDTO">
        select user_id, username, name, birth_date from user
        where user_id = #{user_id}
    </select>
</mapper>
